*.log
target
.idea/
shamirs-keystore/json/keystore-1/*.json
shamirs-keystore/json/roundtrip-2/*.json
shamirs-secret-sharing/json/**/*.json
!shamirs-secret-sharing/json/jws/secret-share.json
shamirs-secret-sharing/json/jws/encoded-secret-share.txt
dependency-reduced-pom.xml
*.iml
shamirs-demo/workspace/**/*.json
shamirs-demo/workspace/**/*.p12
shamirs-keystore/pkcs12/my-keystore-2.p12
