*.log
target
.idea/
shamirs-keystore/json/**/*.json
shamirs-secret-sharing/json/**/*.json
!shamirs-secret-sharing/json/jws/secret-share.json
shamirs-secret-sharing/json/jws/encoded-secret-share.txt
dependency-reduced-pom.xml
*.iml
shamirs-demo/workspace/**/*.json
shamirs-demo/workspace/**/*.p12
